<%= content_tag :div, class: 'media', id: "favorite-#{favorite.id}" do %>
  <div class= "media">
    <div class= "media-body row">
   	  <div class="col-md-3">
   	  	<%= link_to favorite.post.title, topic_post_path(favorite.post.topic, favorite.post) %>
   	  	<small>
          <p> <%= favorite.post.body %></p>
        </small>
      </div>
      <small class="col-md-1">
        <% avatar_url = favorite.post.user.avatar_url(46) %>
        <% if avatar_url %>
          <div class="media-left">
            <%= image_tag avatar_url, class: 'media-object' %>
          </div>
        <% end %>
      </small>
      <small class="col-md-3">
        <%= favorite.post.comments.count %> Comments
        <br/>
        <%= pluralize(favorite.post.up_votes, 'up vote') %>,
        <%= pluralize(favorite.post.down_votes, 'down vote') %>
      </small>
    </div>
  </div>
<% end %>